/* Header Section */
.Header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.3)),
    url("../images/bg01.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  width: 100%;
  text-align: center;
}
/* Header Section */

/* Contact Section */
.contact-container {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.3)),
    url("../images/bg-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/* Contact Section */

/* Video Section */
.video-section {
  background-color: #000000;
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (height:width) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

/* Video Section */
